# dependencies
node_modules/

# next.js build
.next/
out/

# MISQ
MISQ/


# production
build/

# misc
.DS_Store
*.log

# env files (VERY IMPORTANT)
.env
.env.local
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# optional
coverage/
